.board {
  border: 2px solid black;
  height: 640px;
  width: 640px;
}

.row {
  height: 80px;
  width: 640px;
}

.box {
  border: 1px solid black;
  display: inline-block;
  height: 78px;
  width: 78px;
}

.box.white {
  background-color: burlywood;
}

.box.black {
  background-color: chocolate;
}

.box .pc {
  font-size: 54px;
  height: 54px;
  width: 78px;
  padding-top: 8px;
  padding-bottom: 16px;
  text-align: center;
}

.pc.white {
  color: white;
}

.pc.black {
  color: black;
}

.pc.pawn.letter:before {
  content: "P";
}

.pc.rook.letter:before {
  content: "R";
}

.pc.knight.letter:before {
  content: "N";
}

.pc.bishop.letter:before {
  content: "B";
}

.pc.queen.letter:before {
  content: "Q";
}

.pc.king.letter:before {
  content: "K";
}

.pc.pawn.symbol:before {
  content: "\265F";
}

.pc.rook.symbol:before {
  content: "\265C";
}

.pc.knight.symbol:before {
  content: "\265E";
}

.pc.bishop.symbol:before {
  content: "\265D";
}

.pc.queen.symbol:before {
  content: "\265B";
}

.pc.king.symbol:before {
  content: "\265A";
}
