/* AJK TODO there's a small issue with occupied squares having an extra pixel*/
.board {
  border: 2px solid black;
}

.row {
  height: 80px;
}

.board-8 {
  height: 640px;
  width: 640px;
}

.board-9 {
  height: 720px;
  width: 720px;
}

.row-8 {
  width: 640px;
}

.row-9 {
  width: 720px;
}

.square {
  border: 1px solid black;
  display: inline-block;
  height: 78px;
  width: 78px;
}

.square.white {
  background-color: burlywood;
}

.square.black {
  background-color: chocolate;
}

.square.last-move {
  background-color: cadetblue;
}

.square.selected {
  background-color: lightblue;
}

.square.warning {
  background-color: brown;
}

.square .pc {
  font-size: 54px;
  height: 54px;
  width: 78px;
  padding-top: 8px;
  padding-bottom: 87px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

/* AJK TODO starting from here, move to chess.css */
.pc.chess.white {
  color: white;
}

.pc.chess.black {
  color: black;
}

.pc.chess.pawn.letter:before {
  content: "P";
}

.pc.chess.rook.letter:before {
  content: "R";
}

.pc.chess.knight.letter:before {
  content: "N";
}

.pc.chess.bishop.letter:before {
  content: "B";
}

.pc.chess.queen.letter:before {
  content: "Q";
}

.pc.chess.king.letter:before {
  content: "K";
}

.pc.chess.pawn.symbol:before {
  content: "\265F";
}

.pc.chess.rook.symbol:before {
  content: "\265C";
}

.pc.chess.knight.symbol:before {
  content: "\265E";
}

.pc.chess.bishop.symbol:before {
  content: "\265D";
}

.pc.chess.queen.symbol:before {
  content: "\265B";
}

.pc.chess.king.symbol:before {
  content: "\265A";
}
