.board {
  border: 2px solid black;
}

.row {
  height: 80px;
}

.board-8 {
  height: 640px;
  width: 640px;
}

.board-9 {
  height: 720px;
  width: 720px;
}

.row-8 {
  width: 640px;
}

.row-9 {
  width: 720px;
}

.square {
  border: 1px solid black;
  display: inline-block;
  height: 78px;
  width: 78px;
}

.square.mini {
  border: 1px solid black;
  display: inline-block;
  height: 58px;
  width: 58px;
}

.square.white {
  background-color: burlywood;
}

.square.black {
  background-color: chocolate;
}

.square.last-move {
  background-color: cadetblue;
}

.square.selected {
  background-color: lightblue;
}

.square.warning {
  background-color: brown;
}

/* AJK TODO test this on different browsers, the padding isn't great on e.g. Firefox */
.square .pc {
  font-size: 54px;
  width: 78px;
  height: 62px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  position: absolute;
}
