body.dark {
  background-color: darkslategray;
}

body.light {
  background-color: bisque;
}

h2 {
  display: inline-block;
  padding: 15px;
  margin: 0;
}

.warning {
  background-color: brown!important;  /*overrides other coloring e.g. last-move*/
}

.button-holder {
  width: 250px;
  height: 80px;
  margin: auto;
}

button.nice {
  width: 120px;
  height: 80px;
  border-radius: 18px;
  border: 2px dotted black;
}

.board {
  border: 2px solid black;
}

.row {
  height: 80px;
}

.board-8 {
  height: 640px;
  width: 640px;
}

.board-9 {
  height: 720px;
  width: 720px;
}

.board-8x9 {
  height: 720px;
  width: 640px;
}

.row-8 {
  width: 640px;
}

.row-9 {
  width: 720px;
}

.square {
  border: 1px solid black;
  display: inline-block;
  height: 78px;
  width: 78px;
  position: relative;
}

.square.mini {
  border: 1px solid black;
  display: inline-block;
  height: 58px;
  width: 58px;
}

.square.white {
  background-color: burlywood;
}

.square.black {
  background-color: chocolate;
}

.square.last-move {
  background-color: cadetblue;
}

.square.selected {
  background-color: lightblue;
}

/* AJK TODO test this on different browsers, the padding isn't great on e.g. Firefox */
.square .pc {
  font-size: 54px;
  width: 78px;
  height: 62px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  position: absolute;
}

.gm-modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(5, 5, 5, .7);
}

.gm-modal-dialog {
  position: absolute;
  background-color: #666;
  padding: 25px;
  border-radius: 15px;
  /* AJK TODO make this less hardcoded */
  top: 500px;
  left: 48px;
}
