/* AJK TODO there's a small issue with occupied squares having an extra pixel*/
.board {
  border: 2px solid black;
}

.row {
  height: 80px;
}

.board-8 {
  height: 640px;
  width: 640px;
}

.board-9 {
  height: 720px;
  width: 720px;
}

.row-8 {
  width: 640px;
}

.row-9 {
  width: 720px;
}

.square {
  border: 1px solid black;
  display: inline-block;
  height: 78px;
  width: 78px;
}

.square.white {
  background-color: burlywood;
}

.square.black {
  background-color: chocolate;
}

.square.last-move {
  background-color: cadetblue;
}

.square.selected {
  background-color: lightblue;
}

.square.warning {
  background-color: brown;
}

.square .pc {
  font-size: 54px;
  height: 54px;
  width: 78px;
  padding-top: 8px;
  padding-bottom: 87px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}
