.pc.shogi.white {
  color: black;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
  padding-top: 77px;
  padding-bottom: 18px;
}

.pc.shogi.black {
  color: black;
}

/* AJK TODO add promotions when I come to it */

.pc.shogi.pawn.romaji:before {
  content: "P";
}

.pc.shogi.lance.romaji:before {
  content: "L";
}

.pc.shogi.knight.romaji:before {
  content: "N";
}

.pc.shogi.silver.romaji:before {
  content: "S";
}

.pc.shogi.gold.romaji:before {
  content: "G";
}

.pc.shogi.bishop.romaji:before {
  content: "B";
}

.pc.shogi.rook.romaji:before {
  content: "R";
}

.pc.shogi.king.romaji:before {
  content: "K";
}

.pc.shogi.pawn.kanji:before {
  content: "\6B69";
}

.pc.shogi.lance.kanji:before {
  content: "\9999";
}

.pc.shogi.knight.kanji:before {
  content: "\6842";
}

.pc.shogi.silver.kanji:before {
  content: "\9280";
}

.pc.shogi.gold.kanji:before {
  content: "\91D1";
}

.pc.shogi.bishop.kanji:before {
  content: "\89D2";
}

.pc.shogi.rook.kanji:before {
  content: "\98DB";
}

.pc.shogi.king.kanji:before {
  content: "\738B";
}
