.pc.shogi.white {
  color: black;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}

.pc.shogi.black {
  color: black;
}

.pc.shogi.pawn.romaji:before {
  content: "p";
}

.pc.shogi.pawn_.romaji:before {
  content: "P";
}

.pc.shogi.lance.romaji:before {
  content: "l";
}

.pc.shogi.lance_.romaji:before {
  content: "L";
}

.pc.shogi.knight.romaji:before {
  content: "n";
}

.pc.shogi.knight_.romaji:before {
  content: "N";
}

.pc.shogi.silver.romaji:before {
  content: "s";
}

.pc.shogi.silver_.romaji:before {
  content: "S";
}

.pc.shogi.gold.romaji:before {
  content: "G";
}

.pc.shogi.bishop.romaji:before {
  content: "b";
}

.pc.shogi.bishop_.romaji:before {
  content: "B";
}

.pc.shogi.rook.romaji:before {
  content: "r";
}

.pc.shogi.rook_.romaji:before {
  content: "R";
}

.pc.shogi.king.romaji:before {
  content: "K";
}

.pc.shogi.pawn.kanji:before {
  content: "\6B69";
}

.pc.shogi.pawn_.kanji:before {
  content: "\3068";
}

.pc.shogi.lance.kanji:before {
  content: "\9999";
}

.pc.shogi.lance_.kanji:before {
  content: "\674F";
}

.pc.shogi.knight.kanji:before {
  content: "\6842";
}

.pc.shogi.knight_.kanji:before {
  content: "\572D";
}

.pc.shogi.silver.kanji:before {
  content: "\9280";
}

.pc.shogi.silver_.kanji:before {
  content: "\5168";
}

.pc.shogi.gold.kanji:before {
  content: "\91D1";
}

.pc.shogi.bishop.kanji:before {
  content: "\89D2";
}

.pc.shogi.bishop_.kanji:before {
  content: "\99AC";
}

.pc.shogi.rook.kanji:before {
  content: "\98DB";
}

.pc.shogi.rook_.kanji:before {
  content: "\9F8D";
}

.pc.shogi.king.kanji:before {
  content: "\738B";
}

.shogi-hand {
  height: 60px;
}

.shogi-marker {
  display: inline-block;
  height: 60px;
  width: 40px;
  font-size: 45px;
}

.shogi-marker.white:before {
  content: "\2616";
  position: absolute;
}

.shogi-marker.black:before {
  content: "\2617";
  position: absolute;
}

.shogi-hand .pc {
  font-size: 42px;
  width: 58px;
  height: 42px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  position: absolute;
}
