<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Base HTML page</title>
    <link rel="stylesheet" href="../style/base.css">
  </head>
  <body>
    <div class="board">
      <div class="row">
        <div class="box"><div class="box-text">R</div></div>
        <div class="box"><div class="box-text">N</div></div>
        <div class="box"><div class="box-text">B</div></div>
        <div class="box"><div class="box-text">Q</div></div>
        <div class="box"><div class="box-text">K</div></div>
        <div class="box"><div class="box-text">B</div></div>
        <div class="box"><div class="box-text">N</div></div>
        <div class="box"><div class="box-text">R</div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
        <div class="box"><div class="box-text"></div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
        <div class="box"><div class="box-text">P</div></div>
      </div>
      <div class="row">
        <div class="box"><div class="box-text">R</div></div>
        <div class="box"><div class="box-text">N</div></div>
        <div class="box"><div class="box-text">B</div></div>
        <div class="box"><div class="box-text">Q</div></div>
        <div class="box"><div class="box-text">K</div></div>
        <div class="box"><div class="box-text">B</div></div>
        <div class="box"><div class="box-text">N</div></div>
        <div class="box"><div class="box-text">R</div></div>
      </div>
    </div>
  </body>
</html>